  <div class="jumbotron">
   <h1 class="title">自由之路</h1>
   <p class="slogan">自由之路，提供成长、改变、自我实现的舞台。
    <br>
    七年就是一辈子，每一辈子您打算怎么度过？
    <br>
     体验更多美好和可能
    </p>
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">探索新生命</a></p>
 </div>

    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">新生命</h2>
                    <h3 class="section-subheading text-muted">遇见不一样的自己，体验不一样的人生</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/jobs" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fbtfto0mhdj31hc0zkkjl.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>改变世界</h4>
                        <p class="text-muted">程序架构师</p>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/jobs" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://ww2.sinaimg.cn/large/006tNc79jw1fbtf4m3dchj31kw0tz7q7.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>虚拟人生</h4>
                        <p class="text-muted">游戏设计师</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/jobs" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fbtelnv5kxj31hc11n1kx.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>看见未来</h4>
                        <p class="text-muted">人工智能专家</p>
                    </div>
                </div>
 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/jobs" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fbtfiwpwpdj31kw0w0e1l.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>阅读人生</h4>
                        <p class="text-muted">资深媒体人</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/jobs" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fbtfm80zojj31hc0u0gyx.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>环游世界</h4>
                        <p class="text-muted">景点体验师</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/jobs" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://ww1.sinaimg.cn/large/006tNc79jw1fbtg1a69fjj31hc0zkjzw.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>心灵修复</h4>
                        <p class="text-muted">心理理疗师</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
